<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social - Yeschef</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="css/social.css">
</head>
<body>
    <span id="filename" style="display: none;">{{infoObject.filename}}</span>
    <span id="name" style="display: none;">{{infoObject.name}}</span>
    <span id="email" style="display: none;">{{infoObject.email}}</span>
    <span id="password" style="display: none;">{{infoObject.password}}</span>
    <span id="position" style="display: none;">{{infoObject.position}}</span>
    <nav>
        <a id="navI" href="/"><img src="https://static.vecteezy.com/system/resources/previews/003/026/146/non_2x/yc-logo-monogram-modern-design-template-free-vector.jpg" alt=""></a>
        <div id="flex-nav-bar">
            <a class="flex-nav" id="social" href="/social">
                <span class="material-symbols-outlined navIcon">diversity_1</span>
                <span class="nav-w">Social</span>
                {{!-- <span>{{infoObject}}</span> --}}
            </a>
            <a class="flex-nav" href="/week">
                <span class="material-symbols-outlined navIcon">calendar_month</span>
                <span class="nav-w">Week</span>
            </a>
            <a class="flex-nav" href="/chat">
                <span class="material-symbols-outlined navIcon">chat</span>
                <span class="nav-w">Chat</span>
            </a>
            <a class="flex-nav" href="/setting">
                <span class="material-symbols-outlined navIcon">settings</span>
                <span class="nav-w">Setting</span>
            </a>
        </div>
        <div id="account">
            <img src="" alt="" id="accountImage">
        </div>
    </nav>
    <main>
        <div id="m-1">
            <!-- <span id="m1-icon">Hoppers  Marylebone  SCP</span> -->
            <div id="search-people-div">
                <span class="material-symbols-outlined">search</span>
                <input type="text" placeholder="">
            </div>
            <div id="search-people-icons">
                <span id="notification" class="material-symbols-outlined nbtns">notifications</span>
                <span id="soc" class="material-symbols-outlined nbtns">diversity_3</span>
                <span id="post" class="material-symbols-outlined nbtns">podcasts</span>
            </div>
        </div>
        <div id="m-2"></div>
    </main>
</body>
<script src="js/social.js"></script>
</html>