<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social - Yeschef</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="css/social.css">
</head>
<body>
    <span id="img" style="display: none;">{{infoObject.img}}</span>
    <span id="name" style="display: none;">{{infoObject.name}}</span>
    <span id="email" style="display: none;">{{infoObject.email}}</span>
    <span id="password" style="display: none;">{{infoObject.password}}</span>
    <span id="position" style="display: none;">{{infoObject.position}}</span>
    <nav>
        <a id="navI" href="/"><img src="https://static.vecteezy.com/system/resources/previews/003/026/146/non_2x/yc-logo-monogram-modern-design-template-free-vector.jpg" alt=""></a>
        <div id="flex-nav-bar">
            <a class="flex-nav" id="social" href="/social">
                <span class="material-symbols-outlined">diversity_1</span>
                <span class="nav-w">Social</span>
                {{!-- <span>{{infoObject}}</span> --}}
            </a>
            <a class="flex-nav" href="/week">
                <span class="material-symbols-outlined navIcon">calendar_month</span>
                <span class="nav-w">Week</span>
            </a>
            <a class="flex-nav" href="/chat">
                <span class="material-symbols-outlined navIcon">chat</span>
                <span class="nav-w">Chat</span>
            </a>
            <a class="flex-nav" href="/setting">
                <span class="material-symbols-outlined navIcon">settings</span>
                <span class="nav-w">Setting</span>
            </a>
        </div>
        <div id="account">
            <span class="material-symbols-outlined">account_circle</span>
            <!-- <span class="nav-w">Account</span> -->
        </div>
    </nav>
    <main>
        <div id="m-1">
            <!-- <span id="m1-icon">Hoppers  Marylebone  SCP</span> -->
            <div id="search-people-div">
                <span class="material-symbols-outlined">search</span>
                <input type="text" placeholder="">
            </div>
            <div id="search-people-icons">
                <span class="material-symbols-outlined">notifications</span>
                <span class="material-symbols-outlined">diversity_3</span>
                <span class="material-symbols-outlined">podcasts</span>
            </div>
        </div>
        <div id="m-2">
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/Jude.jpg" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Jude Thomas</span>
                    <span class="m2-s-2">General Manager</span>
                    <span class="m2-s-3">Inactive</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/jeet.enc" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Jitendra Talukdar</span>
                    <span class="m2-s-2">Assistant General Manager</span>
                    <span class="m2-s-3">Inactive</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/rakesh.jpeg" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Rakhesh Rajendrakumar</span>
                    <span class="m2-s-2">Head Chef</span>
                    <span class="m2-s-3">Inactive</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/renjith.enc" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Renjith Sarathchandran</span>
                    <span class="m2-s-2">Group Executive Chef</span>
                    <span class="m2-s-3 green">Active</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/martin.jpg" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Martin Balo</span>
                    <span class="m2-s-2">Group Bar Operations</span>
                    <span class="m2-s-3 green">Active</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/Haitham.enc" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Haitham Zgheib</span>
                    <span class="m2-s-2">Operations Manager</span>
                    <span class="m2-s-3 green">Active</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/leo.enc" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Leo Noronha</span>
                    <span class="m2-s-2">Assistant Operations Manager</span>
                    <span class="m2-s-3 green">Active</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/profile.jpg" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Majid</span>
                    <span class="m2-s-2">Manager</span>
                    <span class="m2-s-3 green">Active</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/profile.jpg" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Swati</span>
                    <span class="m2-s-2">Manager</span>
                    <span class="m2-s-3 green">Active</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/bertina.enc" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Bertina Dcosta</span>
                    <span class="m2-s-2">Supervisor</span>
                    <span class="m2-s-3 green">Active</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/vanessa.jpg" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Vanessa</span>
                    <span class="m2-s-2">Supervisor</span>
                    <span class="m2-s-3 green">Inactive</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/alexa.enc" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Alexandra</span>
                    <span class="m2-s-2">Supervisor</span>
                    <span class="m2-s-3 green">Active</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/raashmi.jpg" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Raashmi Ramesh</span>
                    <span class="m2-s-2">Reception</span>
                    <span class="m2-s-3 green">Active</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/mikaella.enc" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Mikaella Pittaka</span>
                    <span class="m2-s-2">Reception</span>
                    <span class="m2-s-3 green">Inactive</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/dev.jpg" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Dev Sheth</span>
                    <span class="m2-s-2">Bartender</span>
                    <span class="m2-s-3">Inactive</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/Tony.enc" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Tony</span>
                    <span class="m2-s-2">Bartender</span>
                    <span class="m2-s-3 green">Active</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/sharan.enc" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Sharan</span>
                    <span class="m2-s-2">Bartender</span>
                    <span class="m2-s-3 green">Active</span>
                </div>
            </div>
            <!-- waiter  -->
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/geethu.enc" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Geethu</span>
                    <span class="m2-s-2">Waiter</span>
                    <span class="m2-s-3 green">Active</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/amala.enc" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Amala</span>
                    <span class="m2-s-2">Waiter</span>
                    <span class="m2-s-3 green">Inactive</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/sylvester.enc" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Sylvester</span>
                    <span class="m2-s-2">Kitchen Supervisor</span>
                    <span class="m2-s-3 green">Inactive</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/samba.enc" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Samba</span>
                    <span class="m2-s-2">Kitchen Porter</span>
                    <span class="m2-s-3 green">Inactive</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/bah.enc" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Bah</span>
                    <span class="m2-s-2">Kitchen Porter</span>
                    <span class="m2-s-3 green">Active</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/binny.enc" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Binny</span>
                    <span class="m2-s-2">Runner</span>
                    <span class="m2-s-3 green">Inactive</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/jimon.enc" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Jimon</span>
                    <span class="m2-s-2">Runner</span>
                    <span class="m2-s-3 green">Inactive</span>
                </div>
            </div>
            <div class="m-2-items">
                <div class="m2-1">
                    <img src="img/raghu.jpg" alt="">
                </div>
                <div class="m2-2">
                    <span class="m2-s-1">Raghu</span>
                    <span class="m2-s-2">Runner</span>
                    <span class="m2-s-3 green">Inactive</span>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="js/social.js"></script>
<script>
</script>
</html>